post-linkedin-ia/workflow_post_linkedin_ia.json
{
  "name": "Post Diario LinkedIn com IA",
  "nodes": [
    {
      "parameters": {
        "content": "## Post Diario LinkedIn com IA\n**Credenciais (configurar no n8n):**\n- LLM de texto: credencial `LLM_TEXTO` (API generica de chat) — geracao do post\n- Geracao de imagem: credencial `LLM_IMAGEM` — gera a ilustracao\n- LinkedIn: credencial `LINKEDIN_OAUTH2` (OAuth2 generico) — publicacao\n\n**Horario:** 08h00 (`0 8 * * *`)\n\n**Fluxo:**\n6 RSS -> Merge -> Filtrar top 5 -> LLM Texto -> LinkedIn Get Profile -> LinkedIn Register Upload -> Gerar Imagem -> Extrair Imagem -> LinkedIn Upload -> Montar Post -> LinkedIn Publicar\n\n> Demonstracao de portfolio. Todos os dados sao ficticios.",
        "height": 320,
        "width": 600,
        "color": 3
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Config",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-2176, 416]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Agendamento - 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-2176, 800]
    },
    {
      "parameters": {
        "url": "https://demo.exemplo.dev/rss/feed-tecnologia",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333301",
      "name": "RSS - Feed Tecnologia",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [-1920, 576]
    },
    {
      "parameters": {
        "url": "https://demo.exemplo.dev/rss/feed-ia",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333302",
      "name": "RSS - Feed IA",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [-1920, 688]
    },
    {
      "parameters": {
        "url": "https://demo.exemplo.dev/rss/feed-startups",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333303",
      "name": "RSS - Feed Startups",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [-1920, 800]
    },
    {
      "parameters": {
        "url": "https://demo.exemplo.dev/rss/feed-negocios",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333304",
      "name": "RSS - Feed Negocios",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [-1920, 912]
    },
    {
      "parameters": {
        "url": "https://demo.exemplo.dev/rss/feed-pesquisa",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333305",
      "name": "RSS - Feed Pesquisa",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [-1920, 1024]
    },
    {
      "parameters": {
        "url": "https://demo.exemplo.dev/rss/feed-automacao",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333306",
      "name": "RSS - Feed Automacao",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [-1920, 1136]
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Merge - Combinar Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [-1664, 864]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst now = new Date();\nconst cutoff48h = new Date(now.getTime() - 48 * 60 * 60 * 1000);\nconst cutoff72h = new Date(now.getTime() - 72 * 60 * 60 * 1000);\n\nfunction parseDate(j) {\n  for (const f of [j.pubDate, j.isoDate, j.date, j.published]) {\n    if (f) { const d = new Date(f); if (!isNaN(d.getTime())) return d; }\n  }\n  return new Date(0);\n}\n\nfunction relevanceScore(text) {\n  const t = (text || '').toLowerCase();\n  const strong = ['enterprise', 'corporativo', 'negocio', 'automacao', 'agente', 'agentic', 'workflow', 'investimento', 'aquisicao', 'governanca', 'produtividade', 'roi', 'gestao', 'estrategia'];\n  const weak = ['celular', 'jogo', 'game', 'filme', 'celebridade', 'rumor', 'vazamento', 'gadget'];\n  let score = 0;\n  strong.forEach(function(kw) { if (t.includes(kw)) score += 3; });\n  weak.forEach(function(kw) { if (t.includes(kw)) score -= 5; });\n  return score;\n}\n\nconst seen = new Set();\nlet candidates = allItems\n  .map(function(item) {\n    const j = item.json || {};\n    const date = parseDate(j);\n    const text = [j.title, j.contentSnippet, j.summary, j.description].join(' ');\n    return Object.assign({}, j, { _date: date, _score: relevanceScore(text) });\n  })\n  .filter(function(i) { return i._date >= cutoff48h; });\n\nif (candidates.length < 3) {\n  candidates = allItems\n    .map(function(item) {\n      const j = item.json || {};\n      const date = parseDate(j);\n      const text = [j.title, j.contentSnippet, j.summary, j.description].join(' ');\n      return Object.assign({}, j, { _date: date, _score: relevanceScore(text) });\n    })\n    .filter(function(i) { return i._date >= cutoff72h; });\n}\n\ncandidates = candidates\n  .filter(function(i) {\n    const key = String(i.title || '').toLowerCase().substring(0, 80);\n    if (!key || seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  })\n  .sort(function(a, b) { return (b._score - a._score) || (b._date - a._date); })\n  .slice(0, 5);\n\nif (candidates.length === 0) {\n  throw new Error('Nenhuma noticia encontrada nas ultimas 72h. Verificar feeds RSS.');\n}\n\nconst noticias = candidates.map(function(item, idx) {\n  const title = String(item.title || 'Sem titulo').replace(/\\s+-\\s+[^-]+$/, '').trim();\n  const summary = String(item.contentSnippet || item.summary || item.description || '')\n    .replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim().substring(0, 300);\n  return '[' + (idx + 1) + '] ' + title + '\\n' + summary;\n}).join('\\n\\n');\n\nreturn [{ json: { noticias: noticias, total_noticias: candidates.length } }];"
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Code - Filtrar e Formatar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1408, 864]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.llm.exemplo.dev/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'modelo-texto-demo', messages: [ { role: 'system', content: 'Voce e um profissional de automacao e IA corporativa que escreve posts reflexivos no LinkedIn. Estilo: abre com uma afirmacao forte e direta, paragrafos curtos de 1 a 3 linhas, tom analitico e pessoal. Termina com uma pergunta provocativa aberta. Maximo 3 hashtags ao final. Sem emojis, sem listas de dicas, sem propaganda, sem titulo.' }, { role: 'user', content: 'Com base nas noticias de IA abaixo, escreva um post de LinkedIn de 150 a 250 palavras. Nao e um resumo das noticias e sim uma reflexao inspirada por elas, com perspectiva de quem implementa IA em organizacoes.\\n\\nNa ultima linha, separada por ---IMAGE_PROMPT---, escreva um prompt em ingles (1 frase) para gerar uma imagem digital relacionada ao tema. Estilo: clean corporate tech illustration ou photorealistic 3D render. Sem texto, sem palavras, sem logotipos, sem rostos, sem pessoas identificaveis.\\n\\nNoticias do dia:\\n' + $json.noticias } ], temperature: 0.75, max_tokens: 900 }) }}",
        "options": {}
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "LLM - Gerar Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1136, 864]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nif (response.error) {\n  throw new Error('Erro na API de texto: ' + JSON.stringify(response.error));\n}\n\nlet content = '';\nif (response.choices && response.choices[0] && response.choices[0].message) {\n  content = response.choices[0].message.content || '';\n}\n\nif (!content || content.length < 50) {\n  throw new Error('Post gerado vazio ou muito curto.');\n}\n\nconst separator = '---IMAGE_PROMPT---';\nlet post_text = content.trim();\nlet image_prompt = 'Clean corporate 3D render of glowing neural network nodes connected to organizational chart structures, deep blue and white color palette, professional tech aesthetic, no text, no people, no faces, no logos, photorealistic digital art';\n\nif (content.includes(separator)) {\n  const parts = content.split(separator);\n  post_text = parts[0].trim();\n  const raw_prompt = parts[1] ? parts[1].trim() : '';\n  if (raw_prompt.length > 10) image_prompt = raw_prompt;\n}\n\nreturn [{ json: { post_text: post_text, image_prompt: image_prompt } }];"
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Code - Extrair Texto e Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-880, 864]
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "88888888-8888-8888-8888-888888888801",
      "name": "LinkedIn - Get Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-624, 864]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/assets?action=registerUpload",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ registerUploadRequest: { recipes: ['urn:li:digitalmediaRecipe:feedshare-image'], owner: 'urn:li:person:' + $('LinkedIn - Get Profile').first().json.sub, serviceRelationships: [{ relationshipType: 'OWNER', identifier: 'urn:li:userGeneratedContent' }] } }) }}",
        "options": {}
      },
      "id": "88888888-8888-8888-8888-888888888802",
      "name": "LinkedIn - Register Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-368, 864]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.llm.exemplo.dev/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'modelo-imagem-demo', prompt: $('Code - Extrair Texto e Prompt').first().json.image_prompt, size: '1024x1024', response_format: 'b64_json' }) }}",
        "options": {}
      },
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "LLM - Gerar Imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-112, 864]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst post_text = $('Code - Extrair Texto e Prompt').first().json.post_text;\n\nif (response.error) {\n  throw new Error('Erro na API de imagem: ' + JSON.stringify(response.error));\n}\n\nconst b64 = response.data && response.data[0] ? response.data[0].b64_json : null;\nif (!b64) {\n  throw new Error('Imagem nao recebida da API. Verifique o no anterior.');\n}\n\nif (!post_text || post_text.length < 30) {\n  throw new Error('Texto do post invalido ou nao encontrado.');\n}\n\nconst buffer = Buffer.from(b64, 'base64');\nconst binaryData = await this.helpers.prepareBinaryData(buffer, 'post.png', 'image/png');\n\nreturn [{ json: { post_text: post_text }, binary: { data: binaryData } }];"
      },
      "id": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "Code - Extrair Imagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [144, 864]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('LinkedIn - Register Upload').first().json.value.uploadMechanism['com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest'].uploadUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb",
      "name": "LinkedIn - Upload Imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 864]
    },
    {
      "parameters": {
        "jsCode": "const postText = $('Code - Extrair Imagem').first().json.post_text;\nconst personId = $('LinkedIn - Get Profile').first().json.sub;\nconst assetUrn = $('LinkedIn - Register Upload').first().json.value.asset;\n\nif (!personId) throw new Error('Person ID do LinkedIn nao encontrado. Verificar credencial OAuth2 e scope openid/profile.');\nif (!assetUrn) throw new Error('Asset URN nao retornado pelo LinkedIn Register Upload. Verificar resposta do no anterior.');\nif (!postText || postText.length < 30) throw new Error('Texto do post invalido ou muito curto.');\n\nconst payload = {\n  author: 'urn:li:person:' + personId,\n  lifecycleState: 'PUBLISHED',\n  specificContent: {\n    'com.linkedin.ugc.ShareContent': {\n      shareCommentary: { text: postText },\n      shareMediaCategory: 'IMAGE',\n      media: [{\n        status: 'READY',\n        description: { text: 'Imagem gerada por IA' },\n        media: assetUrn,\n        title: { text: 'IA Hoje' }\n      }]\n    }\n  },\n  visibility: {\n    'com.linkedin.ugc.MemberNetworkVisibility': 'PUBLIC'\n  }\n};\n\nreturn [{ json: { payload: JSON.stringify(payload), person_id: personId, asset_urn: assetUrn } }];"
      },
      "id": "cccccccc-cccc-cccc-cccc-cccccccccccc",
      "name": "Code - Montar Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [656, 864]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payload }}",
        "options": {}
      },
      "id": "dddddddd-dddd-dddd-dddd-dddddddddddd",
      "name": "LinkedIn - Publicar Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [912, 864]
    }
  ],
  "pinData": {},
  "connections": {
    "Agendamento - 8h": {
      "main": [[
        { "node": "RSS - Feed Tecnologia", "type": "main", "index": 0 },
        { "node": "RSS - Feed IA", "type": "main", "index": 0 },
        { "node": "RSS - Feed Startups", "type": "main", "index": 0 },
        { "node": "RSS - Feed Negocios", "type": "main", "index": 0 },
        { "node": "RSS - Feed Pesquisa", "type": "main", "index": 0 },
        { "node": "RSS - Feed Automacao", "type": "main", "index": 0 }
      ]]
    },
    "RSS - Feed Tecnologia": { "main": [[{ "node": "Merge - Combinar Feeds", "type": "main", "index": 0 }]] },
    "RSS - Feed IA": { "main": [[{ "node": "Merge - Combinar Feeds", "type": "main", "index": 1 }]] },
    "RSS - Feed Startups": { "main": [[{ "node": "Merge - Combinar Feeds", "type": "main", "index": 2 }]] },
    "RSS - Feed Negocios": { "main": [[{ "node": "Merge - Combinar Feeds", "type": "main", "index": 3 }]] },
    "RSS - Feed Pesquisa": { "main": [[{ "node": "Merge - Combinar Feeds", "type": "main", "index": 4 }]] },
    "RSS - Feed Automacao": { "main": [[{ "node": "Merge - Combinar Feeds", "type": "main", "index": 5 }]] },
    "Merge - Combinar Feeds": { "main": [[{ "node": "Code - Filtrar e Formatar", "type": "main", "index": 0 }]] },
    "Code - Filtrar e Formatar": { "main": [[{ "node": "LLM - Gerar Post", "type": "main", "index": 0 }]] },
    "LLM - Gerar Post": { "main": [[{ "node": "Code - Extrair Texto e Prompt", "type": "main", "index": 0 }]] },
    "Code - Extrair Texto e Prompt": { "main": [[{ "node": "LinkedIn - Get Profile", "type": "main", "index": 0 }]] },
    "LinkedIn - Get Profile": { "main": [[{ "node": "LinkedIn - Register Upload", "type": "main", "index": 0 }]] },
    "LinkedIn - Register Upload": { "main": [[{ "node": "LLM - Gerar Imagem", "type": "main", "index": 0 }]] },
    "LLM - Gerar Imagem": { "main": [[{ "node": "Code - Extrair Imagem", "type": "main", "index": 0 }]] },
    "Code - Extrair Imagem": { "main": [[{ "node": "LinkedIn - Upload Imagem", "type": "main", "index": 0 }]] },
    "LinkedIn - Upload Imagem": { "main": [[{ "node": "Code - Montar Post", "type": "main", "index": 0 }]] },
    "Code - Montar Post": { "main": [[{ "node": "LinkedIn - Publicar Post", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
